## 603. Consecutive Available Seats
```
Table: Cinema
+-------------+------+
| Column Name | Type |
+-------------+------+
| seat_id     | int  |
| free        | bool |
+-------------+------+
seat_id is an auto-increment column for this table.
Each row of this table indicates whether the ith seat is free or not. 1 means free while 0 means occupied.
```
### Task:
```
 - Find all the consecutive available seats in the cinema.
 - Return the result table ordered by seat_id in ascending order.
 - The test cases are generated so that more than two seats are consecutively available.
 - The result format is in the following example.

Example 1:

Input: 
Cinema table:
+---------+------+
| seat_id | free |
+---------+------+
| 1       | 1    |
| 2       | 0    |
| 3       | 1    |
| 4       | 1    |
| 5       | 1    |
+---------+------+

Output: 
+---------+
| seat_id |
+---------+
| 3       |
| 4       |
| 5       |
+---------+
```

### Solution #1
Runtime 448 ms / Beats 9.88%
```
# Write your MySQL query statement below
WITH set1 AS (
    SELECT
        seat_id,
        ROW_NUMBER() OVER(ORDER BY seat_id) AS rn,
        seat_id - ROW_NUMBER() OVER(ORDER BY seat_id) AS seat_grp
    FROM Cinema
    WHERE free = 1
),
set2 AS (
    SELECT
        seat_id,
        COUNT(*) OVER(PARTITION BY seat_grp) AS seats_cnt
    FROM set1
)
SELECT seat_id
FROM set2
WHERE seats_cnt > 1
ORDER BY seat_id;
```