# 180. Consecutive Numbers

## Task Desc

```
Table: Logs

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| num         | varchar |
+-------------+---------+
In SQL, id is the primary key for this table.
id is an autoincrement column starting from 1.
 

Find all numbers that appear at least three times consecutively.

Return the result table in any order.

The result format is in the following example.

Example 1:

Input: 
Logs table:
+----+-----+
| id | num |
+----+-----+
| 1  | 1   |
| 2  | 1   |
| 3  | 1   |
| 4  | 2   |
| 5  | 1   |
| 6  | 2   |
| 7  | 2   |
+----+-----+
Output: 
+-----------------+
| ConsecutiveNums |
+-----------------+
| 1               |
+-----------------+
Explanation: 1 is the only number that appears consecutively for at least three times.
```

## MySQL

```
# 1: using JOINs
SELECT DISTINCT t1.num AS ConsecutiveNums 
FROM Logs AS t1
INNER JOIN Logs AS t2 ON t1.num = t2.num AND t1.id = t2.id+1
INNER JOIN Logs AS t3 ON t2.num = t3.num AND t2.id = t3.id+1
```

```
# 2: Using Window Functions (LEAD/LAG)
WITH t1 AS (
    SELECT
        num,
        LAG(num) OVER (ORDER BY id) AS prev_num,
        LEAD(num) OVER (ORDER BY id) AS next_num
    FROM Logs
)
SELECT DISTINCT num AS ConsecutiveNums
FROM t1
WHERE num = prev_num AND num = next_num
```