# 177. Nth Highest Salary

## Task Desc

Table: Employee
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
```

Where `id` is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the nth highest distinct salary from the Employee table. If there are less than n distinct salaries, return null.

The result format is in the following example.

```
Example 1:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
n = 2
Output: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+
Example 2:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
n = 2
Output: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| null                   |
+------------------------+
```

## MySQL

```CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
DECLARE p INT;
    SET P = N - 1;
  RETURN (
    # Write your MySQL query statement below.
    SELECT DISTINCT salary
    FROM Employee
    ORDER BY salary DESC
    LIMIT P, 1
  );
END
```

## pandas

import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    # Step 1: Remove Duplicate Salaries
    dist = employee.drop_duplicates(subset='salary')

    # Step 2: Rank Salaries in Descending Order
    dist['rnk'] = dist['salary'].rank(method='dense', ascending=False)

    # Step 3: Filter by Rank
    result = dist[dist.rnk == N][['salary']]

    # Nulls handling
    if not len(result):
        return pd.DataFrame({f'getNthHighestSalary({N})': [None]})
    
    result = result.rename(columns={'salary':f'getNthHighestSalary({N})'})
    return result

## PostgreSQL

```
CREATE OR REPLACE FUNCTION NthHighestSalary(N INT)
RETURNS TABLE (Salary INT)
AS $$
BEGIN
  -- If N <= 0, return NULL
  IF N <= 0 THEN
    RETURN QUERY SELECT NULL::INT;
    RETURN;
  END IF;

  -- Normal case: return N-th highest distinct salary
  RETURN QUERY
  SELECT t.sal
  FROM (
    SELECT DISTINCT Employee.salary AS sal
    FROM Employee
    ORDER BY Employee.salary DESC
  ) t
  LIMIT 1 OFFSET N - 1;
END;
$$ LANGUAGE plpgsql;
```