## 1264. Page Recommendations
```
Table: Friendship
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user1_id      | int     |
| user2_id      | int     |
+---------------+---------+
(user1_id, user2_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates that there is a friendship relation between user1_id and user2_id.

Table: Likes

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| user_id     | int     |
| page_id     | int     |
+-------------+---------+
(user_id, page_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates that user_id likes page_id.

Write a solution to recommend pages to the user with user_id = 1 using the pages that your friends liked. It should not recommend pages you already liked.

Return result table in any order without duplicates.

The result format is in the following example.

Example 1:

Input: 
Friendship table:
+----------+----------+
| user1_id | user2_id |
+----------+----------+
| 1        | 2        |
| 1        | 3        |
| 1        | 4        |
| 2        | 3        |
| 2        | 4        |
| 2        | 5        |
| 6        | 1        |
+----------+----------+
Likes table:
+---------+---------+
| user_id | page_id |
+---------+---------+
| 1       | 88      |
| 2       | 23      |
| 3       | 24      |
| 4       | 56      |
| 5       | 11      |
| 6       | 33      |
| 2       | 77      |
| 3       | 77      |
| 6       | 88      |
+---------+---------+

Output:
+------------------+
| recommended_page |
+------------------+
| 23               |
| 24               |
| 56               |
| 33               |
| 77               |
+------------------+

Explanation: 
User one is friend with users 2, 3, 4 and 6.
Suggested pages are 23 from user 2, 24 from user 3, 56 from user 3 and 33 from user 6.
Page 77 is suggested from both user 2 and user 3.
Page 88 is not suggested because user 1 already likes it.
```

### Solution #1 (Runtime: 594 ms / Beats 17.01%)
```
with friends as 
(
    select user2_id as friend_id from Friendship where user1_id = 1
    UNION
    select user1_id as friend_id from Friendship where user2_id = 1
),
friends_likes as
(
    select user_id, page_id 
    from Likes 
    where user_id in (select friend_id from friends)
),
user_likes as
(
    select user_id, page_id 
    from Likes 
    where user_id = 1
)
select distinct t1.page_id as recommended_page
from friends_likes as t1
left join user_likes as t2
   on t1.page_id = t2.page_id
where t2.page_id is null;
```

### Solution #2 (Runtime 508 ms / Beats 68.26%)
```
WITH friends AS (
    SELECT user2_id AS friend_id FROM Friendship WHERE user1_id = 1
    UNION
    SELECT user1_id AS friend_id FROM Friendship WHERE user2_id = 1
)
SELECT DISTINCT t1.page_id AS recommended_page
FROM Likes AS t1
JOIN friends AS t2
    ON t1.user_id = t2.friend_id
LEFT JOIN Likes AS t3
    ON t3.user_id = 1
   AND t3.page_id = t1.page_id
WHERE t3.page_id IS NULL;
```