# 534. Game Play Analysis III

## Task Desc

```
Table: Activity

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+

Where (player_id, event_date) is the primary key (column with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.

Task:
Write a solution to report for each player and date, how many games played so far by the player. That is, the total number of games played by the player until that date. Check the example for clarity.

Return the result table in any order.

The result format is in the following example.


Example 1:

Input: 

Activity table:
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 1         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+

Output: 
+-----------+------------+---------------------+
| player_id | event_date | games_played_so_far |
+-----------+------------+---------------------+
| 1         | 2016-03-01 | 5                   |
| 1         | 2016-05-02 | 11                  |
| 1         | 2017-06-25 | 12                  |
| 3         | 2016-03-02 | 0                   |
| 3         | 2018-07-03 | 5                   |
+-----------+------------+---------------------+

Explanation: 
For the player with id 1, 5 + 6 = 11 games played by 2016-05-02, and 5 + 6 + 1 = 12 games played by 2017-06-25.
For the player with id 3, 0 + 5 = 5 games played by 2018-07-03.
Note that for each player we only care about the days when the player logged in.
```

### Accepted: 93,070/114.4K
### Acceptance Rate: 81.3%

## MySQL solution

```
# by using Corellated Sub-Query
# Runtime: 4199 ms / Beats: 5.04%
SELECT
    t1.player_id,
    t1.event_date,
    (SELECT SUM(games_played) FROM Activity WHERE player_id = t1.player_id AND event_date <= t1.event_date) AS games_played_so_far
FROM
    Activity AS t1
ORDER BY
    1, 2;
```


```
# 2) by using SUM() windowing function
### Runtime: 693 ms / Beats: 19.90%

SELECT
    player_id,
    event_date,
    SUM(games_played) OVER(PARTITION BY player_id ORDER BY event_date) AS games_played_so_far
FROM
    Activity
ORDER BY
    1, 2 DESC;
```

```
# 3) by using JOIN
### Runtime: 623 ms / Beats: 53.72%

SELECT
    t1.player_id,
    t1.event_date,
    SUM(t2.games_played) AS games_played_so_far
FROM
    Activity AS t1
INNER JOIN
    Activity AS t2 ON t1.player_id = t2.player_id
WHERE
    t1.event_date >= t2.event_date
GROUP BY 1, 2
ORDER BY 1, 2 DESC;
```